<div class="ui fixed inverted menu", style="min-height: 4em;">
    <div class="ui container">
        <a class="item" href="/">کتابچه</a>
        <div class="right menu" style="display:<%if (user) {%>visible<%}else{%>none<% } %>;">
            <a class="item"  href="#">
                <%if (user) {%><%=  user.firstName  %><%}else{%><% } %>
            </a>
            <a href="#" class="item">
                <i class="shopping cart icon"></i>سبد خرید
            </a>
        </div>
        <div class="right menu" style="display:<%if (user) {%>none<%}else{%>visible<% } %>;">
            <div class="item">
                <a class="ui button"  href="signIn">ورود</a>
            </div>
            <div class="item">
                <a class="ui primary button"  href="signUp">ثبت نام</a>
            </div>
        </div>
    </div>
</div>