<div class="ui fixed inverted menu">
    <div class="ui container">
        <a class="item">کتابچه</a>
        <a href="#" class="item" style="display:none;">
            <i class="shopping cart icon"></i>سبد خرید
        </a>
        <div class="right menu">
            <div class="item">
                <a class="ui button">ورود</a>
            </div>
            <div class="item">
                <a class="ui primary button">ثبت نام</a>
            </div>
        </div>
    </div>
</div>